<!DOCTYPE html>
<html>
<body>
<h1>Ruby Tuesday</h1>
<br>
<br>
<img src='images/Rahul.jpg' width="400" height="400" alt="my pic" />

<div>
    Hi I am Rahul. This is my first attempt at Ruby.
</div>
<%= yield %>

</body>
</html>